<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<command-line>
		<feature>
			<option>check-all</option>
			<method>checkAll</method>
			<message>Apply all available validations</message>
		</feature>
		<feature>
			<option>check-xsd</option>
			<method>checkXsd</method>
			<message>Apply xsd validation</message>
		</feature>
		<feature>
			<option>check-taxonpaths</option>
			<method>checkTaxonPaths</method>
			<message>Check that consecutive taxon are in hierarchical relation
			</message>
		</feature>
		<feature>
			<option>check-taxonpath-vocabs</option>
			<method>checkTaxonPathVocabs</method>
			<message>Check that consecutive taxon are in hierarchical relation
			</message>
		</feature>
		<feature>
			<option>check-classification-purposes</option>
			<method>checkClassificationPurposes</method>
			<message>Check that taxonpaths are under the right purpose</message>
		</feature>
		<feature>
			<option>check-labels</option>
			<method>checkLabels</method>
			<message>Check that labels are preflabels or altLabels of provided
				URIs.</message>
		</feature>
		<feature>
			<option>check-vcards</option>
			<method>checkVcards</method>
			<message>Check that inline vcards are RFC 2426 compliant.</message>
		</feature>
	</command-line>
	<schemas>
		<schema>
			<version>3.0</version>
			<skos>/scolomfr/v30/scolomfr.skos</skos>
			<xsd>/scolomfr/v30/scolomfr-schemas/scolomfr.xsd</xsd>
		</schema>
	</schemas>
</configuration>